// ----------------------------------------------------------------------------
// Navbar
// ----------------------------------------------------------------------------

.navbar {
  background-color: $white;
  padding: 24px 1rem;
  font-family: "Fire Sans", $sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: z-index(header);

  @include bp(medium) {
    margin: 0;
    padding: 24px 0;
    position: static;
    width: auto;
  }
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
}

.navbar__mobile {
  margin-right: auto;

  @include bp(medium) {
    display: none;
  }
}

.navbar__logo {
  height: 40px;
  display: none;
  margin-right: auto;

  @include bp(medium) {
    display: inline-block;
  }
}

.navbar__logo--mobile {
  height: 40px;
  margin-left: space(2);
}

.navbar__list {
  padding: 0;
  margin: 0;
  position: fixed;
  // opacity: 0;
  z-index: z-index(header);
  height: 0;
  top: 88px;
  left: 0;
  background-color: $white;
  width: 100%;
  transition: height 0.5s ease;
  overflow-y: hidden;

  &.is-active {
    // opacity: 1;
    height: 100vh;
    @include bp(medium) {
      height: auto;
    }
  }

  @include bp(medium) {
    display: flex;
    position: static;
    background-color: transparent;
    height: auto;
    width: auto;
    opacity: 1;
  }
}

.navbar__item {
  line-height: 0;
  margin-left: 1rem;

  @include bp(medium) {
    margin-left: 20px;

    &:hover {
      .navbar__link::after {
        content: "";
        height: 2px;
        background: linear-gradient(left, $purple 0%, $cyan 100%);
        width: 100%;
        display: block;
        margin-top: -2px;
      }
    }
  }

  @include bp(large) {
    margin-left: 40px;
  }
}

.navbar__link {
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: $black;

  &:after {
    content: "";
    height: 0px;
    background: linear-gradient(left, $purple 0%, $cyan 100%);
    width: 100%;
    display: block;
    margin-top: -2px;
    transition: height $base-time $base-ease;
  }

  &:hover {
    color: $black;
  }
}

.navbar__button {
  background-image: linear-gradient(to right, $purple 0%, $cyan 100%);
  font-weight: bold;
  border-radius: 40px;
  box-sizing: border-box;
  color: $black;
  display: inline-block;
  height: 40px;
  margin: 0;
  padding: 2px;
  position: relative;
  text-decoration: none;
  z-index: 2;
  width: 150px;

  @include bp(medium) {
    margin-left: 20px;
  }

  @include bp(large) {
    margin-left: 40px;
  }
}

.navbar__button:hover {
  color: #fff;
}

.navbar__button span {
  align-items: center;
  background: $white;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
}

.navbar__button--loggedin {
  background: transparent;
  font-size: 14px;
  width: auto;

  &:hover,
  &:active {
    color: #1a1a1a;
  }
}

.navbar__button:hover span {
  background: transparent;
}

.navbar__user-border {
  background: linear-gradient(45deg, $purple, $cyan);
  height: 40px;
  width: 40px;
  border-radius: 40px;
  display: inline-block;
  margin-right: 10px;
}

.navbar__user {
  height: 36px;
  border-radius: 40px;
  margin-left: 2px;
  margin-top: 2px;
}
