// ----------------------------------------------------------------------------
// Configuration
// ----------------------------------------------------------------------------

// Colors
// -------------------------

$white: #ffffff;
$black: #000000;
$purple: #8551cd;
$blue: #53a0fd;
$cyan: #72e5ed;
$primary: $blue;

// Breakpoints
// -------------------------

$breakpoints: (
  xsmall: 450px,
  small: 750px,
  medium: 850px,
  large: 1000px
);

// Type
// -------------------------
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:600,700|Open+Sans:300,400,700");
$base-font-size: 18px;
$base-line-height: 1.5;
$base-font-color: $black;
$scale: 1.3;
$leading: $base-line-height * 1rem;
$sans-serif: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
$serif: "Cambria", "Georgia", "serif";
$mono: "Lucida Console", Monaco, monospace !default;
$base-font-family: $sans-serif;
$header-font-family: $sans-serif;
$base-bold-weight: 600;
$base-link-color: $primary;
$base-link-hover: lighten($primary, 10%);
$unit: 0.5rem;

// Defaults
// -------------------------

$base-unit: 0.5rem; // if font-size is 16px, this should be 8px (8pt scale)
$unit: $base-unit;
$base-radius: 2px;
$base-time: 0.3s;
$base-ease: ease;

// z-index
// -------------------------

$z-index: (
  bury: -1,
  zig-content: -1,
  pattern: 5,
  content: 10,
  header: 20,
  navtrigger: 22,
  modal: 40
);

// Style
// -------------------------

$body-bg: #fff;
